<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <%= render "#{resource.current_step}_step", :f => f %>
  
  <p><%= f.button :submit, 'Back', :name => 'back_button' unless resource.first_step? %></p>
<% end %>

<%= render 'devise/shared/links' if resource.first_step? %>
