<%= simple_form_for(@scout, defaults: { input_html: { class: 'form-control' } }) do |f| %>
  <%= f.error_notification %>

  <div class="form-group col-md-12">  
    <%= f.association :user %>
  </div>
  <div class="form-group col-md-12">  
    <%= f.association :actual_club %>
  </div>

  <div class="form-group col-md-12">
    <%= f.button :submit, class: 'btn btn-success btn-block' %>
  </div>
<% end %>
