<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @scout.user %>
</p>

<p>
  <strong>Actual club:</strong>
  <%= @scout.actual_club %>
</p>

<%= link_to 'Edit', edit_scout_path(@scout) %> |
<%= link_to 'Back', scouts_path %>
